  <div class="container" style="margin-top: 60px">
	<div class="row">
 <p>
  <strong>Назва:</strong>
  <%= @party.name %>
</p>
 <p>
  <strong>Дата:</strong>
  <%= @party.date %>
</p>

<p>
	  <strong>Ціна:</strong>
  <%= @party.price %>
</p>

<p>
	  <strong>Клуб:</strong>
  <%= @club.name %>
</p>


 <p>
  <strong>Про вечірку:</strong>
  <%= @party.about %>
</p>
<%= link_to 'фото',  party_photo_path(@party, @party)%> 
 <%= link_to 'Назад', parties_path %>

</div>
</div>